/* 
===============================
THIS FILE FOR RESPONSIVENESS  |
==============================
*/

/* 1014 PX MONITOR CSS START*/
@media only screen and (max-width:1024px) {
    .container {
        width: 87%;
    }
    .header-area .menu-area ul li a {
        font-size: 18px;
        padding: 10px 5px 30px 5px;
    }
    .content-area .shop-now-section h1{
        font-size: 40px;
    }
    .content-area .shop-now-section {
        background: url('../images/bee-three.gif') no-repeat 96% 40%/ 180px, url('../images/bee-one.gif') no-repeat 62% 34%/ 50px, url('../images/slider-image-1.png') no-repeat 570px 135px  / 410px, url('../images/bee-two.gif') no-repeat 14% 25%/100px;
    }
    .content-area .hunny-type .image-frame {
        height: 155px;
        margin: 0 0 20px 25px;
    }
    .content-area .hunny-type .image-frame img {
        position: absolute;
        left: 22%;
        top: 32%;
    }
    .content-area #honey-shop-section .honey {
        margin-right: 25px;
        padding-top: 18px;
    }
    .content-area #honey-shop-section .honey-img img {
        margin-left: -25px;
    }
    .content-area .honey-producing .produce-video-section .video-details {
        padding: 45px 55px;
        top: 35%;
    }
    .content-area .honey-producing {
        padding: 60px 0 170px 0;
    }
    .content-area #honey-shop-section .honey-img:hover::after {
       left: -10%;
    }
    .content-area .honey-from-section .image-details .mrgn {
        margin-right: 15px;
    }
    .content-area .our-client-section .heading h1 {
        font-size: 30px;
    }
    .content-area .our-client-section .logos img {
        padding: 0 15px;
    }
    .content-area .our-client-section .logos {
        padding-left: 60px;
    }
    .footer-section .gallary img {
        width: 60px;
        height: 60px;
        margin-right: 1px;
    }
    .content-area .our-blogs-section .read-more a {
        bottom: -60px;
    }
}
/* MONITOR CSS IS END */

/* TABLET 768px CSS IS START  */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .header-area .w-60.tab {
        width: 72%;
    }
    .header-area .short {
        width: 28%;
    }
    .header-area .short img{
        width: 100%;
    }
    .header-area .menu-area ul li a {
        font-size: 16px;
        padding: 10px 3px 30px 3px;
    }
    .content-area .shop-now-section {
        padding: 160px 20px 100px 60px;
        background: url('../images/bee-three.gif') no-repeat 96% 30%/ 150px, url('../images/bee-one.gif') no-repeat 59% 38%/ 43px, url('../images/slider-image-1.png') no-repeat 385px 175px  / 350px, url('../images/bee-two.gif') no-repeat 8% 28%/80px;
    
    }
    .content-area .content-heading .main-heading {
        font-size: 16px;
    }
    .content-area .content-heading h1 {
        font-size: 40px;
    }
    .content-area .content-heading .details {
        font-size: 15px;
        line-height: 22px;
    }
    .w-40.small {
        width: 53%;
    }
    .content-area .hunny-type .image-frame {
        height: 120px;
        margin: 0 0 19px 19px;
    }
    .content-area .hunny-type .image-frame img {
        left: 14%;
        top: 25%;
    }
    .content-area .hunny-type h3 {
       
        font-size: 22px;
        margin-bottom: 8px;
    }
    .content-area .hunny-type p {
        font-size: 14px;
        letter-spacing: .2px;
        line-height: 1.2;
    }
    .content-area .hunny-type .spes {
        margin-right: 12px;
    }
    .content-area .our-category {
        padding: 100px 0 55px;
    }
    .content-area .honey-details-section .honey-details h2 {
        font-size: 29px;
        font-weight: 700;
    }
    .content-area .honey-details-section .honey-details p {
        margin-top: 15px;
        font-weight: 200;
        line-height: 1.2;
        word-spacing: 0;
    }
    .content-area .honey-details-section {
        padding: 30px 0;
    }
    .content-area .about-honey-section .about-honey .title {
        font-weight: 400;
    }
    .content-area .about-honey-section .about-honey .abt {
        font-weight: 700;
    }
    .content-area .about-honey-section .about-honey .more-details {
        font-weight: 300;
        letter-spacing: 0px;
        line-height: 1.2;
    }
    .content-area .about-honey-section .about-honey a {
        font-size: 17px;
        padding: 16px 30px;
    }
    .content-area .about-honey-section .about-honey .honey-propertes h3 {
        font-size: 22px;
        font-weight: 700;
    }
    .content-area .about-honey-section .about-honey .honey-propertes .profit p {
        font-size: 15px;
        letter-spacing: .2px;
        font-weight: 400;
    }
    .content-area #honey-shop-section {
        padding: 40px 0;
    }
    .content-area .about-honey-section .about-honey .honey-propertes .profit img {
        width: 18px;
        margin: 0 5px -4px 0;
    }
    .content-area #honey-shop-section .shop-heading .title {
        font-size: 16px;
        margin: 0px 0 5px 0;
    }
    .content-area #honey-shop-section .shop-heading h1 {
        font-size: 40px;
    }
    .content-area #honey-shop-section .shop-heading .details {
        font-size: 15px;
        line-height: 22px;
    }
    .content-area #honey-shop-section .honeys-section {
        margin-top: 30px;
        padding-left: 25px;
    }
    .content-area #honey-shop-section .honey {
        margin-right: 16px;
        padding-top: 20px;
    }
    .content-area #honey-shop-section .honey-img {
        padding-bottom: 0px;
    }
    .content-area #honey-shop-section .honey-img img {
        width: 100%;
    }
    .content-area #honey-shop-section .honey-img img {
        margin-left: 0;
    }
    .content-area #honey-shop-section .honey-img:hover::after {
        left: 0;
    }
    .content-area #honey-shop-section .honey-img::before {
        height: 30px;
    }
    .content-area #honey-shop-section .honey p {
        font-size: 16px;
    }
    .content-area #honey-shop-section .honey span {
        font-size: 17px;
        padding-bottom: 12px;
    }
    .content-area .honey-producing {
        padding: 40px 0 110px 0;
    }
    .content-area .honey-producing .title {
        font-size: 16px;
        margin: 0px 0 10px 0;
    }
    .content-area .honey-producing h1 {
        font-size: 40px;
    }
    .content-area .honey-producing .details {
        font-size: 15px;
        line-height: 20px;
    }
    .content-area .honey-producing .produce-video-section {
        background: url(../images/banner-featured.png) no-repeat 82% 70% / cover;
        padding: 35px 0;
    }
    .content-area .honey-producing #video img[alt="play"] {
        top: 21%;
        left: 16%;
    }
    .content-area .honey-producing .produce-video-section .video-details {
        padding: 30px 32px;
        top: 35%;
        width: 45%;
    }
    .content-area .honey-producing .produce-video-section .video-details h4 {
        font-size: 19px;
        font-weight: 500;
    }
    .content-area .honey-producing .produce-video-section .video-details p {
        font-size: 15px;
        letter-spacing: .2px;
        line-height: 1.3;
        margin-bottom: 0;
    }
    .content-area .honey-producing .produce-video-section .video-details a {
        font-size: 17px;
        padding: 16px 25px;
        margin-top: 10px;
    }
    .content-area .honey-from-section .heading-details img {
        left: 42%;
    }
    .content-area .honey-from-section .heading-details h1 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 6px;
    }
    .content-area .honey-from-section .heading-details p {
        margin-top: 10px;
        font-weight: 200;
        line-height: 1.2;
        word-spacing: 0px;
    }
    .content-area .honey-from-section .image-details .mrgn {
        margin-right: 10px;
    }
    .content-area .honey-from-section .image-details .part {
        margin: 25px 0 0 0;
    }
    .content-area .honey-from-section .image-details img {
        left: 0%;
    }
    .content-area .honey-from-section .image-details h3 {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.025em;
        line-height: 1.2;
    }
    .content-area .honey-from-section .image-details p {
        font-weight: 300;
        font-size: 15px;
        margin-top: 6px;
        color: #5a3733;
        line-height: 1.2;
    }
    .content-area .honey-from-section .read-more a {
        font-size: 17px;
        padding: 14px 25px 14px 25px;
        left: 42%;
    }
    .content-area .honey-from-section {
        padding: 0 0 40px 0;
    }
    .content-area .testimonials-section .clients {
        padding: 40px 0;
    }
    .content-area .testimonials-section .heading-details {
        margin-bottom: 20px;
    }
    .content-area .testimonials-section .heading-details h1 {
        font-size: 38px;
        font-weight: 700;
    }
    .content-area .testimonials-section .heading-details .details {
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: 0;
    }
    .content-area .testimonials-section .review {
        margin-right: 10px;
    }
    .content-area .testimonials-section .review .img img {
        width: 70px;
        left: 30%;
        margin: 15px 0;
    }
    .content-area .testimonials-section .review .client-review-details {
        font-weight: 100;
        line-height: 1.1;
        letter-spacing: .2px;
        padding: 0 17px;
    }
    .content-area .testimonials-section .review .rattings {
        padding-left: 55px;
        margin: 5px 0 5px 0;
    }
    .content-area .testimonials-section .review .client-name {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 1.5;
        font-weight: 400;
        padding-bottom: 10px;
    }
    .content-area .our-blogs-section {
        padding: 40px 0;
    }
    .content-area .our-blogs-section .heading-details .title {
        font-weight: 600;
        margin-bottom: 0px;
    }
    .content-area .our-blogs-section .heading-details .heading {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .content-area .our-blogs-section .heading-details .details {
        font-size: 15px;
        letter-spacing: 0;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .content-area .our-blogs-section .blogs {
        margin-right: 20px;
    }
    .content-area .our-blogs-section .blog-text {
        padding: 16px;
        top: 65%;
    }
    .content-area .our-blogs-section .blog-text .blog-heading {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
        line-height: 1.2;
    }
    .content-area .our-blogs-section .blog-text .date {
        margin-bottom: 8px;
        font-size: 14px;
    }
    span.coment {
        font-size: 11px;
    }
    .content-area .our-blogs-section .blog-text .blog-details {
        padding: 6px 0;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 1.2;
        font-weight: 100;
    }
    .content-area .our-blogs-section .read-more a {
        bottom: 55px;
        overflow: hidden;
    }
    .content-area .our-blogs-section .read-more a {
        font-size: 17px;
        padding: 14px 24px 14px 24px;
        left: 40%;
        margin-top: 140px;
    }
    .content-area .our-blogs-section .our-blogs {
        margin-bottom: -60px;
    }
    .content-area .our-client-section {
        padding: 30px 0;
    }
    .content-area .our-client-section .heading h4 {
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
    }
    .content-area .our-client-section .heading h1 {
        font-size: 28px;
        font-weight: 500;
        margin-top: 7px;
    }
    .content-area .our-client-section .logos {
        padding-left: 0px;
    }
    .content-area .our-client-section .logos img {
        padding: 0 6px;
    }
    .footer-section .about-us .number {
        font-weight: bold;
        font-size: 15px;
    }
    .footer-section .about-us .mail {
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .footer-section  h2 {
        font-weight: 600;
        font-size: 22px;
    }
    .footer-section .gallary img {
        width: 48px;
        height: 55px;
        margin-right: 2px;
    }
}
/* TABLET CSS IS END   */


/* MOBILE DISPLAY CSS START */

 @media only screen and (max-width:425px) {
    .header-area .short {
        width: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        left: 20%;
        margin-top: 10px;
    }
    .header-area .menu-area nav > ul > li {
        float: none;
        display: block;
        text-align: center;
    }
    .header-area .menu-area ul li a {
        font-size: 18px;
        padding: 8px 6px 8px 6px;
        color: #fff;
        background: #eb7033;
        width: 65%;
        margin-bottom: 2px;
        border: 1.5px solid #5a3733;
    }
    
    .header-area .menu-area #show-menu{
        display: none;

    }

    .header-area .menu-area .menu{
        display: none;
    }
    .header-area .menu-area input#show-menu {
        display: none;
     }
    
     .header-area .menu-area .show-menu {
        background: url("../images/honey-spoon.png") no-repeat 0 0 / cover;
        width: 45px;
        height: 45px;
        position: fixed;
        top: 1%;
        right: 4%;
    }
    .header-area .menu-area input[type=checkbox]:checked ~ .menu {
        display: block;
        position: relative;
        
    }
    .header-area .w-60.tab {
        width: 100%;
    }
    .header-area .short img {
        margin-bottom: -22px;
        margin-top: 20px;
    }
    .header-area {
        padding: 0;
    }
    .header-area .menu-area .third-sub-ul{
        position: relative;
        top: 0%;
        left: 0%;
        display: none;
    }
    .header-area .menu-area ul li:hover ul {
        display: block;
        width: 60%;
        margin: auto;
    }
    .header-area .menu-area .fourth-sub-ul {
        position: relative;
        top: 0%;
        left: 0%;
        display: none;
    }
    .header-area .menu-area ul ul li a {
        font-size: 18px;
        padding: 8px 6px 8px 6px;
        color: #fff;
        background: #eb7033;
        margin-bottom: 2px;
        border: 1px solid #5a3733;
    }
    .header-area .menu-area nav > ul > li > a:hover {
        background-color: #593632;
        color: #FFF;
    }
    .header-area .menu-area ul ul li a:hover {
        background-color: #593632;
        color: #FFF;
    }
    .content-area .shop-now-section {
        padding: 120px 0px 50px 0px;
        background: url('../images/bee-three.gif') no-repeat 100% 30%/ 140px, url('../images/bee-one.gif') no-repeat 94% 72%/ 40px, url('../images/slider-image-1.png') no-repeat 205px 145px  / 313px, url('../images/bee-two.gif') no-repeat 0% 33%/55px;
    }
    .w-40.small {
        width: 77%;
    }
    .content-area #honey-shop-section {
        background: url(../images/flowers_1.png) no-repeat 0% 20%, url('../images/flowers_2.png') no-repeat 169% 68%;
        background-color: #f8f7f2;
    }
    .content-area .shop-now-section h1 {
        font-size: 33px;
    }
    .content-area .shop-now-section p {
        color: #0e0c0b;
        font-size: 14px;
        line-height: 1.2;
        margin: 20px 0;
    }
    .content-area .shop-now-section a {
        font-size: 17px;
        padding: 14px 20px;
        margin-top: 8px;
    }
    .content-area .content-heading h1 {
        font-size: 35px;
    }
    .content-area .content-heading .main-heading {
        font-size: 14px;
    }
    .content-area .content-heading .details {
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 0;
    }
   
    .content-area .our-category .w-25 {
        float: none;
        width: 69%;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: 30px;
    }
    .content-area .our-category .hunny-type {
        padding: 170px 0;
    }
    .content-area .hunny-type .spes:hover {
        margin-top: 0;
    }
    .content-area .hunny-type .spes:hover {
        margin-top: 15px;
    }
    .content-area .hunny-type .image-frame {
        height: 145px;
        margin: 0 0 20px 33px;
    }
    .content-area .hunny-type .image-frame img {
        left: 27%;
    }
    .content-area .our-category .hunny-type {
        padding: 170px 0 0px;
    }
    .content-area .our-category {
        padding: 100px 0 0px;
    }
    .content-area .honey-details-section {
        padding: 15px 0;
    }
    .content-area .honey-details-section .image-sec img {
        left: 34%;
        margin-top: 5px;
    }
    .content-area .honey-details-section .honey-details h2 {
        font-size: 26px;
        font-weight: 500;
    }
    .content-area .honey-details-section .honey-details p {
        margin-top: 8px;
        font-weight: 200;
        line-height: 1.1;
        word-spacing: 0;
        font-size: 14px;
    }
    .content-area .about-honey-section {
        padding: 30px 0 40px 0;
        background: url(../images/banner-featured.png) no-repeat 20% 0/cover;
    }
    .content-area .about-honey-section .w-35 {
        float: none;
        width: 100%;
    }
    .content-area .about-honey-section .about-honey .title {
        font-size: 17px;
        text-align: center;
    }
    .content-area .about-honey-section .about-honey .abt {
        font-size: 30px;
        font-weight: 400;
        letter-spacing: .1px;
        margin: 6px 0 6px 0;
        text-align: center;
    }
    .content-area .about-honey-section .about-honey .more-details {
        font-weight: 200;
        letter-spacing: 0px;
        line-height: 1.1;
        font-size: 15px;
        text-align: center;
        margin-bottom: 15px;
    }
    .content-area .about-honey-section .about-honey a {
        font-size: 16px;
        padding: 14px 20px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .content-area .about-honey-section .w-30 {
        float: none;
        width: 60%;
        position: relative;
        left: 50%;
        top: 120px;
        transform: translate(-50%, -50%);
        margin-bottom: 20px;
    }
    .content-area .about-honey-section .about-honey .honey-propertes {
        padding: 10px 0 0 50px;
    }
    .content-area #honey-shop-section .shop-heading .title {
        font-size: 16px;
        margin: 0px 0 0px 0;
    }
    .content-area #honey-shop-section .shop-heading h1 {
        font-size: 35px;
    }
    .content-area #honey-shop-section .shop-heading .details {
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 0;
        margin-top: 6px;
    }
    .content-area #honey-shop-section .honeys-section {
        margin-top: 25px;
        padding-left: 20px;
    }
    .content-area #honey-shop-section .honeys-section .w-33 {
        float: none;
        width: 80%;
        position: relative;
        left: 50%;
        top: 165px;
        transform: translate(-50%, -50%);
    }
    .content-area #honey-shop-section .honeys-section .mrgn {
        margin-bottom: 20px;
    }
    .content-area .honey-producing .title {
        font-size: 14px;
        margin: 0px 0 0px 0;
    }
    .content-area .honey-producing h1 {
        font-size: 30px;
        font-weight: 500;
    }
    .content-area .honey-producing .details {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0;
    }
    .content-area .honey-producing .produce-video-section img {
        width: 100%;
    }
    .content-area .honey-producing #video img[alt="play"] {
        top: 30%;
        left: 40%;
    }
    .content-area .honey-producing .produce-video-section .video-details {
        padding: 20px 25px;
        top: 70%;
        width: 65%;
        left: 12%;
    }
    .content-area .honey-producing .produce-video-section .video-details h4 {
        font-size: 18px;
        font-weight: 400;
    }
    .content-area .honey-producing .produce-video-section .video-details p {
        font-size: 14px;
        letter-spacing: .1px;
        line-height: 1.2;
    }
    .content-area .honey-producing .produce-video-section .video-details a {
        font-size: 16px;
        padding: 14px 16px;
        margin-top: 8px;
    }
    .content-area .honey-from-section .heading-details img {
        left: 32%;
        margin-top: 85px;
    }
    .content-area .honey-from-section .heading-details h1 {
        font-size: 26px;
        font-weight: 600;
        margin-top: 3px;
    }
    .content-area .honey-from-section .heading-details p {
        margin-top: 6px;
        font-weight: 100;
        line-height: 1.1;
    }
    .content-area .honey-from-section .image-details .w-25 {
        float: none;
        width: 80%;
        position: relative;
        left: 50%;
        top: 165px;
        transform: translate(-50%, -50%);
        margin-bottom: 20px;
    }
    .content-area .honey-from-section .image-details img {
        left: 21%;
    }
    .content-area .honey-from-section .image-details {
        padding-left: 0;
    }
    .content-area .honey-from-section .read-more a {
        font-size: 16px;
        padding: 12px 18px 12px 18px;
        left: 34%;
    }
    .content-area .testimonials-section .heading-details h1 {
        font-size: 35px;
        font-weight: 600;
    }
    .content-area .testimonials-section .heading-details .details {
        font-size: 14px;
        line-height: 1.1;
    }
    .content-area .testimonials-section .w-33 {
        float: none;
        width: 75%;
        position: relative;
        left: 50%;
        top: 165px;
        transform: translate(-50%, -50%);
        margin: 30px 0;
    }
    .content-area .testimonials-section .review .rattings {
        padding-left: 75px;
    }
    .content-area .testimonials-section .review .img img {
        left: 35%;
        margin: 8px 0;
    }
    .content-area .our-blogs-section .heading-details .heading {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 0px;
    }
    .content-area .our-blogs-section .heading-details .details {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 1.1;
    }
    .content-area .our-blogs-section .our-blogs .w-33 {
        float: none;
        width: 70%;
        position: relative;
        left: 50%;
        top: 90px;
        transform: translate(-50%, -50%);
    }
    .content-area .our-blogs-section .blogs {
        margin-right: 0;
    }
    .content-area .our-blogs-section .our-blogs .blog-img {
        margin-bottom: 175px;
    }
    .content-area .our-blogs-section .read-more a {
        font-size: 17px;
        padding: 12px 18px 12px 18px;
        left: 37%;
        margin-top: 60px;
    }
    .content-area .our-client-section .w-20 {
        float: none;
        width: 100%;
    }
    .content-area .our-client-section .w-80 {
        float: none;
        width: 100%;
        margin-top: 10px;
    }
    .content-area .our-client-section .heading h4 {
        font-size: 30px;
        font-weight: 400;
        margin-top: 0;
        text-align: center;
    }
    .content-area .our-client-section .heading h1 {
        font-size: 32px;
        font-weight: 400;
        margin-top: 0;
        text-align: center;
    }
    .content-area .our-client-section .logos img {
        padding: 0 5px;
        width: 17%;
    }
    .footer-section {
        padding: 40px 0 0 0;
    }
    .footer-section .contact-us .w-25 {
        float: none;
        width: 80%;
        position: relative;
        left: 50%;
        top: 75px;
        transform: translate(-50%, -50%);
    }
    .footer-section  h2 {
        margin-top: 15px;
    }
    .footer-section .recent-posts {
        margin-bottom: 50px;
    }
    .footer-section .about-us .address {
        font-size: 18px;
    }
    .footer-section .about-us .number {
        font-size: 18px;
    }
    .footer-section .about-us .mail {
        font-size: 18px;
    }
    .footer-section .gallary img {
        width: 70px;
        height: 75px;
        margin-right: 2px;
    }
}
@media only screen and (max-width:360px) {
    .content-area #honey-shop-section .honeys-section .w-33 {
        width: 90%;
    }
    .content-area .honey-producing #video img[alt="play"] {
        top: 29%;
        left: 37%;
    }
    .content-area .honey-from-section .heading-details img {
        left: 30%;
        margin-top: 100px;
    }
    .content-area .testimonials-section .w-33 {
        width: 85%;
    }
    .content-area .our-blogs-section .our-blogs .w-33 {
        width: 80%;
    }
    .content-area .our-blogs-section .read-more a {
        left: 33%;
    }
    .content-area .our-client-section .logos img {
        width: 16%;
    }
    .content-area .our-category .w-25 {
        width: 80%;
    }
    .footer-section .copywrite p {
        font-size: 12px;
    }
}

@media only screen and (max-width:320px) {
    .content-area .shop-now-section {
        padding: 115px 0px 50px 0px;
        background: url('../images/bee-three.gif') no-repeat 100% 32%/ 118px, url('../images/bee-one.gif') no-repeat 100% 49%/ 40px, url('../images/slider-image-1.png') no-repeat 154px 145px  / 262px, url('../images/bee-two.gif') no-repeat 0% 27%/46px;
    }
    .w-40.small {
        width: 85%;
    }
    .content-area .our-category .w-25 {
        width: 75%;
    }
    .content-area .honey-details-section .image-sec img {
        left: 28%;
    }
    .content-area .about-honey-section .about-honey .honey-propertes {
        padding: 30px 0 0 15px;
    }
    .content-area #honey-shop-section .honeys-section .w-33 {
        width: 95%;
    }
    .content-area .honey-producing #video img[alt="play"] {
        top: 19%;
        left: 33%;
    }
    .content-area .honey-producing #video img[alt="play"] {
        top: 19%;
        left: 33%;
    }
    .content-area .honey-from-section .read-more a {
        left: 32%;
    }
    .content-area .testimonials-section .w-33 {
        width: 92%;
    }
    .content-area .our-blogs-section .our-blogs .w-33 {
        width: 85%;
    }
    .content-area .our-blogs-section .read-more a {
        left: 28%;
    }
    .footer-section  h2 {
        margin-top: 30px;
    }
    .footer-section .copywrite p {
        font-size: 15px;
    }
}